header#header
  .container
    .navbar.navbar-static-top.navbar-inner(role='navigation')
        a.brand(href='/about') WebRTC With Me 
        .nav-collapse.collapse
          ul.nav
            li
              a(href='/chat') Chat
          ul.nav.pull-right
            if (req.isAuthenticated())
              li
                a(href="/users/"+req.user.id, title="Profile") #{req.user.name}
              li
                a(href="/logout", title="logout") Logout
            else
              li
                a(href="/login", title="Login") Login
