extends layout

block content
  header#header
    .navbar.navbar-static-top.navbar-inner(role='navigation')
      a.brand(href='/') JSEP to SIP Example 
      .nav-collapse.collapse
  .container.main-content.wrapper
    .row-fluid 
      #registration.container.span6.boxed
        #regstatus.row.center
          h3 Registration
        #regform.row.center
            label registration id 
            input#regaddress(type="text", placeholder="Enter Email")
            .help-block Example: bryan@kabletown.com
            button.register.btn(action="register", target="#regaddress") Register

      #caller.container.span6.boxed
        #statusarea.row.center
          h3 Phone or Email
        #callform.row.center
            label Phone or Email
            input#address(type="text", placeholder="Enter Phone or Email")
            .help-block Example: 8565558185 or bryan@kabletown.com
            button.call.btn(action="call", target="#address") Call
        #talkarea.row.center.fadedout
          audio#remoteVideo(width="100%", autoplay="autoplay")
        #selfarea.row.center.fadedout
        audio#localVideo(width="100%", autoplay="autoplay", muted="true")


