extends layout

block content
  header#header
    .navbar.navbar-static-top.navbar-inner(role='navigation')
      a.brand(href='/') JSEP to SIP Example 
      #registration 
        #regform.navbar-form.pull-right
          input.span2.stored#regaddress(name="regaddress", type="text", placeholder="Enter Email")
          button.register.btn(action="register", target="#regaddress") Register
        #regstatus.pull-right.span2


  .container.main-content.wrapper
    .row-fluid 
      #caller.container.span12.boxed
        #statusarea.row.center
          h3 Phone or Email
        #callform.row.center
            label Phone or Email
            input.stored#address(name="address",  type="text", placeholder="Enter Phone or Email")
            .help-block Example: 8565558185 or bryan@kabletown.com
            button.call.btn(action="call", target="#address") Call
        #answerform.row.center.hide
            button.answer.btn(action="answer", target="#address") Answer 
        #controlform.row.center.hide
            button.endcall.btn(action="end", target="#address") End Call
        #talkarea.row.center.hide
          video#remoteVideo(width="100%", autoplay="autoplay")
        #selfarea.row.center.fadedout
          video#localVideo(width="100%", autoplay="autoplay", muted="true")


