extends layout

block content
  header#header
    .navbar.navbar-fixed-top
      .navbar-inner(role='navigation')
        .container
          a.brand(href='/') JSEP to SIP Example 
          .nav-collapse.collapse
  .container.main-content.wrapper
    #caller.container.span12.boxed
      #statusarea.row.center
        h3 Put in the number you want to call and press call
      #callform.row.center
          label Phone Number
          input#phoneNumber(type="text", placeholder="Enter Phone number here")
          .help-block Example: 8565558185
          button.btn(action="call", target="#phoneNumber") Call
      #talkarea.row.center.fadedout
        audio#remoteVideo(width="100%", autoplay="autoplay")
      #selfarea.row.center.fadedout
        audio#localVideo(width="100%", autoplay="autoplay")


